<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo List</title>
          <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
          
          <!-- <script src="../public/assets/todo-list.js"></script> -->
        <link rel="stylesheet" href="/assets/styles.css">
        </head>
<body>
    <h1>my todo list</h1>
    <div id="todo-table">
        <form action="">
            <input type="text" name="item" placeholder="Add new item" required>
            <button type="submit">add item</button>
        </form>

        <ul>
            <% for(var i=0; i< todos.length; i++){ %>
                <li><%= todos[i].item %></li>
            <% } %>
            
        </ul>
    </div>
</body>
</html>